#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

compile '/stylesheet/' do
  # don’t filter or layout
  filter :relativize_paths, :type => :css
end

compile '/images/*/' do
end
compile '/gallery/*/' do
end

compile '/javascripts/*/' do
  nil
end

compile 'gallery' do
  case item[:extension]
    when 'md'
      filter :rdiscount
    when 'haml'
      filter :haml
    else
      filter :erb
  end
  filter :relativize_paths, :type => :html
end
compile '*' do
  case item[:extension]
    when 'md'
      filter :rdiscount
    when 'haml'
      filter :haml
    else
      filter :erb
  end
  
  layout 'default'
  filter :relativize_paths, :type => :html
end

route '/stylesheet/' do
  '/style.css'
end

route '/images/*/' do
  item.identifier.chop + "." + item[:extension]
end

route '/gallery/*/' do
  item.identifier.chop + "." + item[:extension]
end

route '/javascripts/*/' do
  item.identifier.chop + "." + item[:extension]
end

route '*' do
  item.identifier + 'index.html'
end
layout '*', :haml
