%h2 The Gallery
%p
  A selection of our finest rooms for your enjoyment
#image
  %img.display{:src => relative_path_to('/gallery/11925.jpg'), :alt => "" }
.thumbnails
  %ul.gallery
    - @item.children.each do |img| 
      %li
        %a{ :href => img.path }= img.path

