---
title: AvatarHotel Home
---
%h1 Avatar Hotel
%p
  The place where pixels go
%p
  Welcome to this hotels website. Feel free to take a tour and look at the
  manyfold content we have. Check out the gallery, search for a room, take contact
  or make a reservation.


