%h2 Visiting

%p 
  If you need further details, feel free to peruse this section of our website. 
  It might contain what you are looking for. Then again, it might not. If it 
  doesn't, feel free to 
  %a{ :href => relative_path_to("/about/contact") } Contact us
  \.
