%h2 About the company
%p 
  Avatar Hotel was founded in October 2010 as part of the MScIT programme
  of the 
  %a{ :href => "http://www.uol.ohecampus.com/" } Online University of Liverpool
  \. The "Programming the Internet" module brought Ali Mikati and Jens-Christian 
  Fischer to build this website togehter, as part of the group work for the module.
%h3 Colophon
%p
  Made on Mac and PC with help of the following tools:
%ul
  %li 
    %a{ :href => 'http://git-scm.com/' } Git - Version Control
  %li
    %a{ :href => 'http://nanoc.stoneship.org/' } Nanoc - a Ruby web publishing system
  %li
    %a{ :href => 'http://haml-lang.com/' } HAML - Markup Haiku
  %li
    %a{ :href => 'http://jquery.com/' } jQuery - The JavaScript Toolbox
  %li
    %a{ :href => 'http://www.vim.org/' } VIM - Real Programmers Editor
  %li
    %a{ :href => 'http://notepad-plus-plus.org/' } Notepad++ - Another Real Editor
  %li
    %a{ :href => 'http://www.php.net/' } PHP - A mess disguised as programming language
