%h2 Contact Form

:plain
  <?php
    include('../php/db.php');
    include('../php/form.php');
    $method = $_SERVER['REQUEST_METHOD'];
    $posted = FALSE;
    if($method == "POST") {
      $name = params('name');
      $email = params('email');
      $type = params('type');
      $subject = params('subject');
      $body = params('body');

      $values = array(
        'name_EN' => $name,
        'email' => $email,
        'type' => $type,
        'Subject' => $subject,
        'Message' => $body
      );
      // insert_row('feedbacks', $values);
      $posted = TRUE;
    }
  ?> 

:plain
  <?php if($posted == FALSE) { ?>
%form{ :action => "contact.php", :id => "contact", :method => "post"}
  %p.formNote * marks a required field
  %fieldset#contact-fields
    .field
      %label{ :for => "name"} Name *
      %input.required{ :id => 'name', :name => 'name', :type => "text", :size => "30"}
    .field
      %label{ :for => "email"} Email *
      %input.required.email{ :id => 'email', :name => "email", :type => "text", :size => "30"}
    .field
      %label{ :for => "type"} Type *
      %select{ :id => 'type', :name => "type" }
        %option Reservation
        %option Cancelation
        %option Praise
        %option Complaint
        %option Other
    .field
      %label{ :for => "subject"} Subject *
      %input.required{ :id => "subject", :name => "subject", :type => "text", :size => 40 }
    .field
      %label{ :for => "body"} Message *
      %textarea.required{ :id => 'body', :name => 'body', :cols => 70, :rows => 10}
  .buttons
    %input{ :class => "submit", :type => "submit", :value => "Submit"}
:plain
  <?php } else { ?>
%p
  Dear 
  :plain
    <?php echo $name ?>
%p
  Thank you for your comment. We will get back to you as soon as possible.
%p
  The Hotel staff

:plain
  <?php } ?>


