%h2 Contact Form


%form{ :action => "#", :id => "contact", :method => "post"}
  %fieldset#contact-fields
    .field
      %label{ :for => "name"} Name
      %input.required{ :id => 'name', :name => 'name', :type => "text", :size => "30"}
    .field
      %label{ :for => "email"} Email
      %input.required.email{ :id => 'email', :name => "email", :type => "text", :size => "30"}
    .field
      %label{ :for => "type"} Type
      %select{ :id => 'type', :name => "type" }
        %option Reservation
        %option Cancelation
        %option Praise
        %option Complaint
        %option Other
    .field
      %label{ :for => "subject"} Subject
      %input.required{ :id => "subject", :name => "subject", :type => "text", :size => 40 }
    .field
      %label{ :for => "body"} Message
      %textarea.required{ :id => 'body', :name => 'body', :cols => 70, :rows => 10}
  .buttons
    %input{ :class => "submit", :type => "submit", :value => "Submit"}


