%h2 List of jobs
%p
  (to be filled from a database later)
%ul#job_list
  %li
    %h3 Senior Web developer
    %p.date 22.9.2010
    %p 
      As the senior developer, you will be responsible for developing
      and maintaining the website of AvatarHotel.
    %p
      Skills: XHTML, CSS, JavaScript, basic database know-how
  %li
    %h3 Pixel Wrangler
    %p.date 1.5.2010
    %p
      Your job is to wrangle the pixeleated avatars into proper shape by 
      providing an informative and entertaining, fully-immersive almost
      as good as being there, show &amp; trainings programme.
    %p
      Skills: Wrangled Pixels
