:plain
  <?php 
    include('../../php/db.php');
    include('../../php/form.php');
    $id = "";
    $name = "";
    $subject = "";
    $type = "";
    $email = "";
    $body = "";

    $id = params('id');
    open_db();
    $found = select_row('Customer_Comments', 'Comment_Id', $id);

  ?>
%h1 Show Feedback Details
:plain
  <?php if(!$found == FALSE) { ?> 
%table#feedback
  %thead
    %th Field
    %th Value
  %tbody
    :plain
      <?php
          $id = get_column_value('Comment_Id');
          $name = get_column_value('Name_EN');
          $email = get_column_value('email');
          $subject = get_column_value('Subject');
          $type = get_column_value('Comment_Type_Id');
          $body = get_column_value('Message');
          echo "<tr>";
          echo "<th>id</th>";
          echo show_cell($id);
          echo "</tr><tr>";
          echo "<th>Name</th>";
          echo show_cell($name);
          echo "</tr><tr>";
          echo "<th>Email</th>";
          echo show_cell($email);
          echo "</tr><tr>";
          echo "<th>Type</th>";
          echo show_cell($type);
          echo "</tr><tr>";
          echo "<th>Subject</th>";
          echo show_cell($subject);
          echo "</tr><tr>";
          echo "<th>Body</th>";
          echo show_cell($body);
          echo "</tr>";
      ?>
:plain
  <?php } else { ?>
%p
  No feedback found
:plain
  <?php 
    }
    close_db();
  ?>
%p
  :plain
  :plain
    <a href="delete.php?id=<?php echo $id ?>">Delete</a>
%p
  %a{ :href => "list.php"} Back to List

