<div id="copyright">
  &copy; 2010 - Group 2, UoL MscIT, Programming the Internet
</div>
<div id="address">
  <div id="hcard-Avatar-Hotel" class="vcard">
    <a class="url fn" href="http://student.ohecampus.com/Projects/group59">AvatarHotel</a>
    <div class="adr">
      <div class="street-address">
         223 Sunshine Boulevard
      </div>
      <span class="postal-code">92111</span>
      <span class="locality">San Pixelato</span>
      <div class="country-name">
        New Numa
      </div>
      <div class="tel">
        +41 99 223 22 42
      </div>
      <div class="electronic">
        <a class="email" href="mailto:info@example.com">info@example.com</a>
        <a class="url" href="http://twitter.com/Avatar_Hotel">@Avatar_Hotel</a>
      </div>
    </div>
  </div>
</div>
