%h2 Avatar for Business

%p 
  Our interactive lounges, meeting rooms and delightful restaurant cater to the 
  businessman on the move. Our hotel provides everything that a business traveler
  needs.
%ul
  %li Late check-in / check-out
  %li Free Internet / Wi-Fi
  %li Room Service
  %li Maxi-Bar in each room
%ul
  %li Meeting rooms from 4 to 20 seats
  %li Presentation rooms, seating up to 500
  %li Haute cuisine restaurant, serving in brown bags, if needed
